{
  "presets": ["node8", "stage-0"],
  "plugins": ["transform-undefined-to-void", "transform-runtime", "transform-remove-debugger", "transform-property-literals", "transform-minify-booleans", "transform-merge-sibling-variables", "minify-type-constructors", "minify-numeric-literals", "minify-guarded-expressions", "minify-constant-folding"]

}
